<h1>List of all Shoes:</h1>

<% @shoes.each() do |shoe| %>
  <ul>
    <li><a href='/shoes/<%= shoe.id() %>'><%= shoe.name() %></a></li>
  </ul>
<% end %>

<p>Add Shoe</p>
<form action='/shoes' method='post'>
  <div class='form-group'>
    <input id='name' name='name' type='text'>
    <label for='name'>Name</label>
  </div>
  <button type='submit' class='btn btn-success'>Add</button>
</form>
